/* Add custom CSS to adjust the width of the input boxes */
@import url("http://fonts.googleapis.com/css?family=Varela Round:400,300,700");

body {
    font-family: 'Varela Round', sans-serif !important;

}

input[type="text"] {
    max-width: 200px;
    /* Adjust the max-width as needed */
}

.custom-navbar {
    background-color: #086788;
}

.lesson {
  padding: 20px;
  background-color: #f8f9fa; /* Light gray background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  margin-bottom: 20px; /* Bottom margin */
}

.lesson h2 {
  font-size: 24px; /* Larger font size for headings */
  margin-bottom: 10px; /* Bottom margin for headings */
}

.lesson h3 {
  font-size: 20px; /* Medium font size for subheadings */
  margin-top: 20px; /* Top margin for subheadings */
  margin-bottom: 10px; /* Bottom margin for subheadings */
}

.lesson p {
  margin-bottom: 10px; /* Bottom margin for paragraphs */
}

.lesson ul, .lesson ol {
  margin-left: 20px; /* Left margin for lists */
  margin-bottom: 10px; /* Bottom margin for lists */
}

.lesson li {
  margin-bottom: 5px; /* Bottom margin for list items */
}


