@import url("http://fonts.googleapis.com/css?family=Varela Round:400,300,700");

body {
    font-family: 'Varela Round', sans-serif !important;

}


.custom-navbar {
    background-color: #086788;
}
.navbar-brand img {
   height: 2rem; 
}
.navbar-brand img:hover {
    height: 2rem;
    filter: drop-shadow(0 0 .5rem #06aed5);
 }
.navbar {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.nav-item {
    padding: .5rem;
}

.nav-link {
    color: #fff1d0!important;
}

.nav-link.active, 
.nav-link:hover{
    color: #06aed5!important;
}

.flight-list .container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.container .flight-box{
    min-width: 200px;
    max-width: 250px;
    height: 230px;
    padding: 2rem 1.5rem 2rem;
    text-align: center;
    background-color: #086788;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: #fff1d0;
    margin: 2rem 0.5rem;
}
.container .flight-box .btn{
    background-color: #06aed5;
}
.container .flight-box .btn:hover{
    background-color: #f0c808;
}

.progressSpace {
    width: 100%;
    padding: 20px;
}
#myProgress {
    width: 100%;
    background-color: rgb(216, 216, 216);
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: rgb(137, 206, 137);
  }
  .unit-list .container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: horizontal;
    flex-wrap: wrap;
    position: relative;
}
.container .unit-box .btn{
    background-color: #06aed5;
}
.container .unit-box .btn:hover{
    background-color: #f0c808;
}

.container .unit-box{
    min-width: 200px;
    width:20%;
    height: 230px;
    padding: 2rem 1.5rem 2rem;
    text-align: center;
    background-color: #086788;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: #fff1d0;
    margin: 2rem 0.5rem;
}

.container .game-box .btn{
    background-color: #06aed5;
}
.container .game-box .btn:hover{
    background-color: #f0c808;
}

.container .game-box{
    width: 100%;
    padding: 20px;
    height: 100px;
    text-align: center;
    background-color: #086788;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: #fff1d0;
    margin: 10px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    top: 75px;
    right: 0px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  
  /* CSS for chat popup */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 9999;
  }
  
  .chat-container {
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
  }
  
  .chat-messages {
    height: 200px;
    overflow-y: scroll;
  }
  
  #chatInput {
    width: calc(100% - 70px);
    margin-right: 5px;
  }

  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #888;
  }

  .unit-box {
    display: flex;
    flex-direction: column;
  }
  
  .unit-box select {
    margin-bottom: 10px; /* Adjust the margin as needed */
  }
  
  /* You may need to adjust the styles based on your design */
  